*,
::after,
::before {
  box-sizing: border-box;
}

.reveal {
  font-size: $mainFontSize;
  font-family: $mainFont;
  line-height: 1.5;
  font-weight: normal;
  color: $mainColor;

  &-viewport {
    background-color: $backgroundColor;
  }

  //Navigation Elements
  .progress {
    color: $brandColor;
  }

  .controls {
    bottom: 12px;
    left: 12px;
    top: 12px;
    color: $brandColor;

    .navigate-left {
      left: 0;
      right: auto;
      bottom: 50%;
    }

    .navigate-right {
      bottom: 50%;
    }

    .navigate-down {
      left: 50%;
      transform: translateX(-50);
      bottom: 0;
    }

    .navigate-up {
      left: 50%;
      transform: translateX(-50);
      top: 0;
      bottom: auto;
    }
  }

  //Layout
  .igalia-bg-1 {
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: -100px;
    left: -200px;
    width: 722px;
    height: 181px;
    background: url("images/top-left.png") no-repeat center center;

    @media (min-width: 3500px) {
      width: 722px * 3;
      height: 181px * 3;
      background-size: cover;
    }
  }

  .igalia-bg-2 {
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: -20px;
    right: -20px;
    width: 128px;
    height: 182px;
    background: url("images/top-right.png") no-repeat center center;

    @media (min-width: 3500px) {
      width: 128px * 3;
      height: 182px * 3;
      background-size: cover;
    }
  }

  .igalia-bg-3 {
    transition: all 0.3s ease-in-out;
    position: absolute;
    bottom: -50px;
    left: -50px;
    width: 197px;
    height: 496px;
    background: url("images/bottom-left.png") no-repeat center center;

    @media (min-width: 3500px) {
      width: 197px * 3;
      height: 496px * 3;
      background-size: cover;
    }
  }

  .igalia-footer {
    @include font-between(11px, 18px);
    position: absolute;
    z-index: 10;
    bottom: 16px;
    right: 32px;
    text-align: right;
    font-style: italic;
    padding: 8px 100px 8px 8px;
    background: url("images/imago.png") no-repeat right center rgba(255, 255, 255, 0.8);
    background-size: contain;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;

    @media (max-height: 500px) {
      display: none;
    }

    strong {
      display: block;
      font-weight: bold;
      margin-bottom: 4px;
    }
  }

  .slide-number {
    @include font-between(11px, 18px);

    color: $mainColor;
    right: auto;
    bottom: 16px;
    left: 32px;
    font-style: italic;
    padding: 8px;
    background: rgba(255, 255, 255, 0.8);

    a {
      background: transparent;
      font-weight: normal;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 32px;
    right: 32px;
    width: 177px;
    height: 64px;
    background: url("images/igalia-logo.png") no-repeat center center;
    background-size: contain;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .igalia-wrapper {
    text-align: left;
    background-color: $bgSectionColor;
    padding: 32px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 50vw;
      left: -50vw;
      top: 0;
      background-color: $bgSectionColor;
    }

    &--alt {
      background-color: rgba(236, 236, 236, 0.7);
      color: #404040;
      font-size: 1.125em;
      padding: 5px 25px 5px 0;
      position: absolute;
      left: 0;
      top: 29vh;

      &::before {
        background-color: rgba(236, 236, 236, 0.7);
      }
    }
  }

  &.is-bg {
    .igalia-footer {
      color: #fff;
      background-color: transparent;
    }

    section {
      color: #fff;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #fff;
      }
    }
  }

  &.is-cover {
    &::after {
      opacity: 1;
    }

    .igalia-footer {
      opacity: 0;
    }

    .igalia-bg-1 {
      top: 0;
      left: 0;
    }

    .igalia-bg-2 {
      top: 0;
      right: 0;
    }

    .igalia-bg-3 {
      bottom: 0;
      left: 0;
    }
  }

  &.is-section-cover {
    .igalia-bg-1 {
      opacity: 0;
    }

    .igalia-bg-2 {
      opacity: 0;
    }

    .igalia-bg-3 {
      opacity: 0;
    }
  }

  &.is-section-cover2 {
    .igalia-bg-1 {
      top: 0;
      left: 0;
    }

    .igalia-bg-2 {
      top: 0;
      right: 0;
    }

    .igalia-bg-3 {
      bottom: 0;
      left: 0;
    }
  }

  &.is-middle-cover {
    .igalia-footer {
      opacity: 0;
    }

    .igalia-bg-1 {
      opacity: 0;
    }

    .igalia-bg-2 {
      opacity: 0.1;
    }

    .igalia-bg-3 {
      opacity: 0.1;
    }
  }

  .slides {
    max-width: 100%;

    section {
      &.igalia-align-left {
        text-align: left;
      }

      &.igalia-text-medium {
        font-size: em($mainFontSize - 10px);
      }

      &.igalia-text-small {
        font-size: em($mainFontSize - 15px);
      }

      &.igalia-text-xsmall {
        font-size: em($mainFontSize - 20px);
      }
    }
  }

  // Markdown Elements
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $headingColor;
    font-weight: bold;
    margin-top: 0;
    line-height: 1.2;
    text-wrap: balance;
  }

  h1 {
    @include font-between($heading1Size - 20px, $heading1Size + 20px);
    margin-bottom: 32px;
  }

  h2 {
    @include font-between($heading2Size - 10px, $heading2Size + 10px);
    margin-bottom: 32px;
  }

  h3 {
    @include font-between($heading3Size - 10px, $heading3Size + 10px);
    margin-bottom: 32px;
  }

  h4 {
    @include font-between($heading4Size - 10px, $heading4Size + 10px);
    margin-bottom: 32px;
  }

  h5 {
    @include font-between($heading5Size - 10px, $heading5Size + 10px);
    font-weight: normal;
    margin-bottom: 12px;
  }

  h6 {
    @include font-between($heading6Size - 10px, $heading6Size + 10px);
    margin-bottom: 12px;
  }

  ul,
  ol {
    margin-left: 32px;
    text-align: left;

    ul,
    ol {
      margin-left: 32px;
    }
  }

  ol {
    ::marker {
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  iframe {
    max-width: 100%;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  a {
    background-color: rgba($linkColor, 0.2);
    font-weight: bold;
    color: $linkColor;
    text-decoration: none;
    display: inline-block;
    padding: 0 2px;
    line-break: anywhere;
  }

  canvas {
    margin: 0 0 40px 0;
  }

  blockquote {
    font-style: italic;
    line-height: 1.25;
    background: url("images/quote.svg") bottom center no-repeat;
    padding-bottom: 64px;

    cite {
      @include font-between(16px, 24px);
      display: block;
      margin-top: 40px;
      line-height: 1.33;
    }
  }

  code {
    font-family: 'Fira Mono', Inconsolata, Consolas, 'Source Code Pro', 'Courier New', Courier, monospace, serif;
    border-radius: 3px;
  }

  pre code.hljs {
    font-size: 0.8em;
    border-radius: 0.25em;
  }

  :not(pre) > code {
    padding: 0 4px;
    background-color: rgba($mainColor, 0.1);
  }

  .MathJax_Display {
    background: url("images/formula.svg") bottom center no-repeat;
    padding-bottom: 64px;
  }

  .hljs {
    @include font-between(20px, 30px);
    text-align: left;
    padding: 32px;
    margin: 32px 0;
  }

  p {
    margin: 1em 0;
  }

  img {
    max-width: 90% !important;
    max-height: none !important;
    height: auto;
    margin: 24px;
  }

  table {
    @include font-between(16px, 24px);
    width: 100%;
    text-align: left;
    line-height: 1.33;

    th {
      padding: 16px;
      font-weight: bold;
      background-color: #dddddd;
    }

    td {
      padding: 16px;
      background-color: #ececec;
    }

  }

  .igalia-compact-table table {
    th, td {
      padding: 8px;
    }
  }

  .igalia-text-small,
  small {
    @include font-between(16px, 24px);
    line-height: 1.33;
    display: block;
  }

  .igalia-text-medium {
    @include font-between(20px, 30px);
    line-height: 1.33;
  }

  .igalia-text-xsmall {
    @include font-between(14px, 18px);
    line-height: 1.33;
  }

  .igalia-columns {
    column-count: 2;
    column-gap: 64px;

    *:first-child {
      margin-top: 0;
    }
  }

  .igalia-grid-columns {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(2, 1fr);
  }

  .igalia-qa {
    @include font-between(20px, 30px);
    list-style: none;
    margin: 32px 0;
    line-height: 1.33;

    li {
      &::before {
        content: 'A';
        color: #0067b1;
        display: inline-block;
        font-weight: bold;
        margin-right: 16px;
      }

      &:nth-child(odd) {
        font-weight: bold;
        margin-top: 32px;

        &::before {
          content: 'Q';
        }
      }
    }
  }

  .igalia-message-info {
    @include font-between(16px, 24px);
    text-align: left;
    font-weight: bold;
    line-height: 1.33;
    padding: 0 0 20px 48px;
    margin: 62px 0;
    color: #0067b1;
    border-bottom: 4px solid #0067b1;
    background: url("images/info.svg") no-repeat top left;
  }

  .igalia-message-ok {
    @include font-between(16px, 24px);
    text-align: left;
    font-weight: bold;
    line-height: 1.33;
    padding: 0 0 20px 48px;
    margin: 62px 0;
    color: #028613;
    border-bottom: 4px solid #028613;
    background: url("images/ok.svg") no-repeat top left;
  }

  .igalia-message-ko {
    @include font-between(16px, 24px);
    text-align: left;
    font-weight: bold;
    line-height: 1.33;
    padding: 0 0 20px 48px;
    margin: 62px 0;
    color: #ff5a5a;
    border-bottom: 4px solid #ff5a5a;
    background: url("images/ko.svg") no-repeat top left;
  }

  .igalia-text-info {
    color: #0067b1;
  }

  .igalia-text-ok {
    color: #028613;
  }

  .igalia-text-ko {
    color: #ff5a5a;
  }

  & > .overlay.overlay-help {
    .viewport
    {
      .viewport-inner {
        color: #404040;
        .title {
          color: #dddddd;
        }
      }
    }
  }
}

/* Styles to allow theme to work in the new scroll mode (Reveal.js v5.0.0) */
body.reveal-scroll {
  .reveal {
    .igalia-bg-3 {
      bottom: 0px;
    }

    &.is-cover {
      .igalia-bg-3 {
        bottom: 0px;
        left: -50px;
      }
    }
  }
}

html.reveal-print{
  .igalia-bg-1,
  .igalia-bg-2,
  .igalia-bg-3 {
    display: none;
  }

  .reveal {
    &::after {
      display: none;
    }

    .igalia-wrapper {
      color: #fff !important;

      h1, h2, h3, h4, h5, h6 {
        color: #fff !important;
      }

      &--alt {
        color: #404040 !important;
      }
    }

    .pdf-page {
      position: relative;

      .present {
        padding: 40px 70px !important;
      }

      .slide-background {
        background: none !important;

        &::before {
          content: "";
          position: absolute;
          bottom: 20px;
          right: 20px;
          width: 177px;
          height: 64px;
          background: url("images/igalia-logo.png") no-repeat center center;
          background-size: contain;
          opacity: 1;
          transition: opacity 0.3s ease-in-out;
        }

        &::after {
          content: "";
          transition: all 0.3s ease-in-out;
          position: absolute;
          bottom: -50px;
          left: -50px;
          width: 197px;
          height: 496px;
          background: url("images/bottom-left.png") no-repeat center center;
        }

        .slide-background-content {
          top: 0;
          left: 0;
        }
      }

      &::before {
        content: "";
        transition: all 0.3s ease-in-out;
        position: absolute;
        top: -100px;
        left: -200px;
        width: 722px;
        height: 181px;
        background: url("images/top-left.png") no-repeat center center;
        z-index: 1;
      }

      &::after {
        content: "";
        transition: all 0.3s ease-in-out;
        position: absolute;
        top: -20px;
        right: -20px;
        width: 128px;
        height: 182px;
        background: url("images/top-right.png") no-repeat center center;
      }

      &.has-background {
        &::before,
        &::after {
          display: none;
        }

        .slide-background {
          &::before,
          &::after {
            display: none;
          }
        }
      }

      .r-fit-text {
        margin: 20px -100px !important;
        transform: scale(0.9);
      }

      &.has-chart {
        height: 831px !important;

        .present {
          padding-top: 70px !important;
        }
      }
    }
  }

}


.last-slide-logo img{
  max-width: 200px;
}
