/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */

@use "sass:math";

// Default mixins and settings -----------------
@import "../../mixins";
@import "../../settings";
// ---------------------------------------------

@function em($size) {
  $emSize: math.div($size, $mainFontSize);

  @return #{$emSize}em;
}


@function strip-unit($number) {
  @if type-of($number)=="number"and not unitless($number) {
    @return math.div($number, $number * 0 + 1);
  }

  @return $number;
}

@mixin font-between($min, $max, $max_res: $container-max, $min_res: 768px) {
  $factor: math.div($max - $min, $max_res - $min_res);
  $calc-value: unquote("#{em($min - ($min_res * $factor))} + #{100vw * $factor}");

  font-size: em($min);
  font-size: clamp(#{em($min)}, #{$calc-value}, #{em($max)});

  @media (min-width: $max_res) {
    font-size: em($max);
  }
}

// Include theme-specific fonts
@font-face {
  font-family: 'Maven Pro';
  src: url('fonts/maven-pro/MavenPro-Regular.woff2') format('woff2'),
    url('fonts/maven-pro/MavenPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maven Pro';
  src: url('fonts/maven-pro/MavenPro-SemiBold.woff2') format('woff2'),
    url('fonts/maven-pro/MavenPro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;
$brandColor: #670164;
$mainColor: #404040;
$headingColor: #404040;
$bgSectionColor: rgba($brandColor, 0.8);
$linkColor: #0067b1;

$mainFontSize: 32px;
$mainFont: 'Maven Pro', sans-serif;


$heading1Size: 72px;
$heading2Size: 62px;
$heading3Size: 52px;
$heading4Size: 42px;
$heading5Size: 32px;
$heading6Size: 22px;


$container-max: 1300px;
$overlayElementBgColor: 0, 0, 0;
$overlayElementFgColor: 240, 240, 240;

:root{
  --r-overlay-element-bg-color: #{$overlayElementBgColor};
  --r-overlay-element-fg-color: #{$overlayElementFgColor};
}
// Theme template ------------------------------
@import "../template/igalia";
// ---------------------------------------------
