/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@font-face {
  font-family: "Maven Pro";
  src: url("fonts/maven-pro/MavenPro-Regular.woff2") format("woff2"), url("fonts/maven-pro/MavenPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Maven Pro";
  src: url("fonts/maven-pro/MavenPro-SemiBold.woff2") format("woff2"), url("fonts/maven-pro/MavenPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --r-overlay-element-bg-color: 0, 0, 0;
  --r-overlay-element-fg-color: 240, 240, 240;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.reveal {
  font-size: 32px;
  font-family: "Maven Pro", sans-serif;
  line-height: 1.5;
  font-weight: normal;
  color: #404040;
}
.reveal-viewport {
  background-color: #fff;
}
.reveal .progress {
  color: #670164;
}
.reveal .controls {
  bottom: 12px;
  left: 12px;
  top: 12px;
  color: #670164;
}
.reveal .controls .navigate-left {
  left: 0;
  right: auto;
  bottom: 50%;
}
.reveal .controls .navigate-right {
  bottom: 50%;
}
.reveal .controls .navigate-down {
  left: 50%;
  transform: translateX(-50);
  bottom: 0;
}
.reveal .controls .navigate-up {
  left: 50%;
  transform: translateX(-50);
  top: 0;
  bottom: auto;
}
.reveal .igalia-bg-1 {
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: -100px;
  left: -200px;
  width: 722px;
  height: 181px;
  background: url("images/top-left.png") no-repeat center center;
}
@media (min-width: 3500px) {
  .reveal .igalia-bg-1 {
    width: 2166px;
    height: 543px;
    background-size: cover;
  }
}
.reveal .igalia-bg-2 {
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: -20px;
  right: -20px;
  width: 128px;
  height: 182px;
  background: url("images/top-right.png") no-repeat center center;
}
@media (min-width: 3500px) {
  .reveal .igalia-bg-2 {
    width: 384px;
    height: 546px;
    background-size: cover;
  }
}
.reveal .igalia-bg-3 {
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: -50px;
  left: -50px;
  width: 197px;
  height: 496px;
  background: url("images/bottom-left.png") no-repeat center center;
}
@media (min-width: 3500px) {
  .reveal .igalia-bg-3 {
    width: 591px;
    height: 1488px;
    background-size: cover;
  }
}
.reveal .igalia-footer {
  font-size: 0.34375em;
  font-size: clamp(0.34375em, 0.0279605263em + 1.3157894737vw, 0.5625em);
  position: absolute;
  z-index: 10;
  bottom: 16px;
  right: 32px;
  text-align: right;
  font-style: italic;
  padding: 8px 100px 8px 8px;
  background: url("images/imago.png") no-repeat right center rgba(255, 255, 255, 0.8);
  background-size: contain;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
@media (min-width: 1300px) {
  .reveal .igalia-footer {
    font-size: 0.5625em;
  }
}
@media (max-height: 500px) {
  .reveal .igalia-footer {
    display: none;
  }
}
.reveal .igalia-footer strong {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}
.reveal .slide-number {
  font-size: 0.34375em;
  font-size: clamp(0.34375em, 0.0279605263em + 1.3157894737vw, 0.5625em);
  color: #404040;
  right: auto;
  bottom: 16px;
  left: 32px;
  font-style: italic;
  padding: 8px;
  background: rgba(255, 255, 255, 0.8);
}
@media (min-width: 1300px) {
  .reveal .slide-number {
    font-size: 0.5625em;
  }
}
.reveal .slide-number a {
  background: transparent;
  font-weight: normal;
}
.reveal::after {
  content: "";
  position: absolute;
  bottom: 32px;
  right: 32px;
  width: 177px;
  height: 64px;
  background: url("images/igalia-logo.png") no-repeat center center;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.reveal .igalia-wrapper {
  text-align: left;
  background-color: rgba(103, 1, 100, 0.8);
  padding: 32px;
  position: relative;
}
.reveal .igalia-wrapper::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50vw;
  left: -50vw;
  top: 0;
  background-color: rgba(103, 1, 100, 0.8);
}
.reveal .igalia-wrapper--alt {
  background-color: rgba(236, 236, 236, 0.7);
  color: #404040;
  font-size: 1.125em;
  padding: 5px 25px 5px 0;
  position: absolute;
  left: 0;
  top: 29vh;
}
.reveal .igalia-wrapper--alt::before {
  background-color: rgba(236, 236, 236, 0.7);
}
.reveal.is-bg .igalia-footer {
  color: #fff;
  background-color: transparent;
}
.reveal.is-bg section {
  color: #fff;
}
.reveal.is-bg section h1,
.reveal.is-bg section h2,
.reveal.is-bg section h3,
.reveal.is-bg section h4,
.reveal.is-bg section h5,
.reveal.is-bg section h6 {
  color: #fff;
}
.reveal.is-cover::after {
  opacity: 1;
}
.reveal.is-cover .igalia-footer {
  opacity: 0;
}
.reveal.is-cover .igalia-bg-1 {
  top: 0;
  left: 0;
}
.reveal.is-cover .igalia-bg-2 {
  top: 0;
  right: 0;
}
.reveal.is-cover .igalia-bg-3 {
  bottom: 0;
  left: 0;
}
.reveal.is-section-cover .igalia-bg-1 {
  opacity: 0;
}
.reveal.is-section-cover .igalia-bg-2 {
  opacity: 0;
}
.reveal.is-section-cover .igalia-bg-3 {
  opacity: 0;
}
.reveal.is-section-cover2 .igalia-bg-1 {
  top: 0;
  left: 0;
}
.reveal.is-section-cover2 .igalia-bg-2 {
  top: 0;
  right: 0;
}
.reveal.is-section-cover2 .igalia-bg-3 {
  bottom: 0;
  left: 0;
}
.reveal.is-middle-cover .igalia-footer {
  opacity: 0;
}
.reveal.is-middle-cover .igalia-bg-1 {
  opacity: 0;
}
.reveal.is-middle-cover .igalia-bg-2 {
  opacity: 0.1;
}
.reveal.is-middle-cover .igalia-bg-3 {
  opacity: 0.1;
}
.reveal .slides {
  max-width: 100%;
}
.reveal .slides section.igalia-align-left {
  text-align: left;
}
.reveal .slides section.igalia-text-medium {
  font-size: 0.6875em;
}
.reveal .slides section.igalia-text-small {
  font-size: 0.53125em;
}
.reveal .slides section.igalia-text-xsmall {
  font-size: 0.375em;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #404040;
  font-weight: bold;
  margin-top: 0;
  line-height: 1.2;
  text-wrap: balance;
}
.reveal h1 {
  font-size: 1.625em;
  font-size: clamp(1.625em, -0.1795112782em + 7.5187969925vw, 2.875em);
  margin-bottom: 32px;
}
@media (min-width: 1300px) {
  .reveal h1 {
    font-size: 2.875em;
  }
}
.reveal h2 {
  font-size: 1.625em;
  font-size: clamp(1.625em, 0.7227443609em + 3.7593984962vw, 2.25em);
  margin-bottom: 32px;
}
@media (min-width: 1300px) {
  .reveal h2 {
    font-size: 2.25em;
  }
}
.reveal h3 {
  font-size: 1.3125em;
  font-size: clamp(1.3125em, 0.4102443609em + 3.7593984962vw, 1.9375em);
  margin-bottom: 32px;
}
@media (min-width: 1300px) {
  .reveal h3 {
    font-size: 1.9375em;
  }
}
.reveal h4 {
  font-size: 1em;
  font-size: clamp(1em, 0.0977443609em + 3.7593984962vw, 1.625em);
  margin-bottom: 32px;
}
@media (min-width: 1300px) {
  .reveal h4 {
    font-size: 1.625em;
  }
}
.reveal h5 {
  font-size: 0.6875em;
  font-size: clamp(0.6875em, -0.2147556391em + 3.7593984962vw, 1.3125em);
  font-weight: normal;
  margin-bottom: 12px;
}
@media (min-width: 1300px) {
  .reveal h5 {
    font-size: 1.3125em;
  }
}
.reveal h6 {
  font-size: 0.375em;
  font-size: clamp(0.375em, -0.5272556391em + 3.7593984962vw, 1em);
  margin-bottom: 12px;
}
@media (min-width: 1300px) {
  .reveal h6 {
    font-size: 1em;
  }
}
.reveal ul,
.reveal ol {
  margin-left: 32px;
  text-align: left;
}
.reveal ul ul,
.reveal ul ol,
.reveal ol ul,
.reveal ol ol {
  margin-left: 32px;
}
.reveal ol ::marker {
  font-weight: bold;
  font-size: 1.2em;
}
.reveal iframe {
  max-width: 100%;
}
.reveal strong {
  font-weight: bold;
}
.reveal em {
  font-style: italic;
}
.reveal a {
  background-color: rgba(0, 103, 177, 0.2);
  font-weight: bold;
  color: #0067b1;
  text-decoration: none;
  display: inline-block;
  padding: 0 2px;
  line-break: anywhere;
}
.reveal canvas {
  margin: 0 0 40px 0;
}
.reveal blockquote {
  font-style: italic;
  line-height: 1.25;
  background: url("images/quote.svg") bottom center no-repeat;
  padding-bottom: 64px;
}
.reveal blockquote cite {
  font-size: 0.5em;
  font-size: clamp(0.5em, 0.1390977444em + 1.5037593985vw, 0.75em);
  display: block;
  margin-top: 40px;
  line-height: 1.33;
}
@media (min-width: 1300px) {
  .reveal blockquote cite {
    font-size: 0.75em;
  }
}
.reveal code {
  font-family: "Fira Mono", Inconsolata, Consolas, "Source Code Pro", "Courier New", Courier, monospace, serif;
  border-radius: 3px;
}
.reveal pre code.hljs {
  font-size: 0.8em;
  border-radius: 0.25em;
}
.reveal :not(pre) > code {
  padding: 0 4px;
  background-color: rgba(64, 64, 64, 0.1);
}
.reveal .MathJax_Display {
  background: url("images/formula.svg") bottom center no-repeat;
  padding-bottom: 64px;
}
.reveal .hljs {
  font-size: 0.625em;
  font-size: clamp(0.625em, 0.1738721805em + 1.8796992481vw, 0.9375em);
  text-align: left;
  padding: 32px;
  margin: 32px 0;
}
@media (min-width: 1300px) {
  .reveal .hljs {
    font-size: 0.9375em;
  }
}
.reveal p {
  margin: 1em 0;
}
.reveal img {
  max-width: 90% !important;
  max-height: none !important;
  height: auto;
  margin: 24px;
}
.reveal table {
  font-size: 0.5em;
  font-size: clamp(0.5em, 0.1390977444em + 1.5037593985vw, 0.75em);
  width: 100%;
  text-align: left;
  line-height: 1.33;
}
@media (min-width: 1300px) {
  .reveal table {
    font-size: 0.75em;
  }
}
.reveal table th {
  padding: 16px;
  font-weight: bold;
  background-color: #dddddd;
}
.reveal table td {
  padding: 16px;
  background-color: #ececec;
}
.reveal .igalia-compact-table table th, .reveal .igalia-compact-table table td {
  padding: 8px;
}
.reveal .igalia-text-small,
.reveal small {
  font-size: 0.5em;
  font-size: clamp(0.5em, 0.1390977444em + 1.5037593985vw, 0.75em);
  line-height: 1.33;
  display: block;
}
@media (min-width: 1300px) {
  .reveal .igalia-text-small,
  .reveal small {
    font-size: 0.75em;
  }
}
.reveal .igalia-text-medium {
  font-size: 0.625em;
  font-size: clamp(0.625em, 0.1738721805em + 1.8796992481vw, 0.9375em);
  line-height: 1.33;
}
@media (min-width: 1300px) {
  .reveal .igalia-text-medium {
    font-size: 0.9375em;
  }
}
.reveal .igalia-text-xsmall {
  font-size: 0.4375em;
  font-size: clamp(0.4375em, 0.2570488722em + 0.7518796992vw, 0.5625em);
  line-height: 1.33;
}
@media (min-width: 1300px) {
  .reveal .igalia-text-xsmall {
    font-size: 0.5625em;
  }
}
.reveal .igalia-columns {
  column-count: 2;
  column-gap: 64px;
}
.reveal .igalia-columns *:first-child {
  margin-top: 0;
}
.reveal .igalia-grid-columns {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(2, 1fr);
}
.reveal .igalia-qa {
  font-size: 0.625em;
  font-size: clamp(0.625em, 0.1738721805em + 1.8796992481vw, 0.9375em);
  list-style: none;
  margin: 32px 0;
  line-height: 1.33;
}
@media (min-width: 1300px) {
  .reveal .igalia-qa {
    font-size: 0.9375em;
  }
}
.reveal .igalia-qa li::before {
  content: "A";
  color: #0067b1;
  display: inline-block;
  font-weight: bold;
  margin-right: 16px;
}
.reveal .igalia-qa li:nth-child(odd) {
  font-weight: bold;
  margin-top: 32px;
}
.reveal .igalia-qa li:nth-child(odd)::before {
  content: "Q";
}
.reveal .igalia-message-info {
  font-size: 0.5em;
  font-size: clamp(0.5em, 0.1390977444em + 1.5037593985vw, 0.75em);
  text-align: left;
  font-weight: bold;
  line-height: 1.33;
  padding: 0 0 20px 48px;
  margin: 62px 0;
  color: #0067b1;
  border-bottom: 4px solid #0067b1;
  background: url("images/info.svg") no-repeat top left;
}
@media (min-width: 1300px) {
  .reveal .igalia-message-info {
    font-size: 0.75em;
  }
}
.reveal .igalia-message-ok {
  font-size: 0.5em;
  font-size: clamp(0.5em, 0.1390977444em + 1.5037593985vw, 0.75em);
  text-align: left;
  font-weight: bold;
  line-height: 1.33;
  padding: 0 0 20px 48px;
  margin: 62px 0;
  color: #028613;
  border-bottom: 4px solid #028613;
  background: url("images/ok.svg") no-repeat top left;
}
@media (min-width: 1300px) {
  .reveal .igalia-message-ok {
    font-size: 0.75em;
  }
}
.reveal .igalia-message-ko {
  font-size: 0.5em;
  font-size: clamp(0.5em, 0.1390977444em + 1.5037593985vw, 0.75em);
  text-align: left;
  font-weight: bold;
  line-height: 1.33;
  padding: 0 0 20px 48px;
  margin: 62px 0;
  color: #ff5a5a;
  border-bottom: 4px solid #ff5a5a;
  background: url("images/ko.svg") no-repeat top left;
}
@media (min-width: 1300px) {
  .reveal .igalia-message-ko {
    font-size: 0.75em;
  }
}
.reveal .igalia-text-info {
  color: #0067b1;
}
.reveal .igalia-text-ok {
  color: #028613;
}
.reveal .igalia-text-ko {
  color: #ff5a5a;
}
.reveal > .overlay.overlay-help .viewport .viewport-inner {
  color: #404040;
}
.reveal > .overlay.overlay-help .viewport .viewport-inner .title {
  color: #dddddd;
}

/* Styles to allow theme to work in the new scroll mode (Reveal.js v5.0.0) */
body.reveal-scroll .reveal .igalia-bg-3 {
  bottom: 0px;
}
body.reveal-scroll .reveal.is-cover .igalia-bg-3 {
  bottom: 0px;
  left: -50px;
}

html.reveal-print .igalia-bg-1,
html.reveal-print .igalia-bg-2,
html.reveal-print .igalia-bg-3 {
  display: none;
}
html.reveal-print .reveal::after {
  display: none;
}
html.reveal-print .reveal .igalia-wrapper {
  color: #fff !important;
}
html.reveal-print .reveal .igalia-wrapper h1, html.reveal-print .reveal .igalia-wrapper h2, html.reveal-print .reveal .igalia-wrapper h3, html.reveal-print .reveal .igalia-wrapper h4, html.reveal-print .reveal .igalia-wrapper h5, html.reveal-print .reveal .igalia-wrapper h6 {
  color: #fff !important;
}
html.reveal-print .reveal .igalia-wrapper--alt {
  color: #404040 !important;
}
html.reveal-print .reveal .pdf-page {
  position: relative;
}
html.reveal-print .reveal .pdf-page .present {
  padding: 40px 70px !important;
}
html.reveal-print .reveal .pdf-page .slide-background {
  background: none !important;
}
html.reveal-print .reveal .pdf-page .slide-background::before {
  content: "";
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 177px;
  height: 64px;
  background: url("images/igalia-logo.png") no-repeat center center;
  background-size: contain;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
html.reveal-print .reveal .pdf-page .slide-background::after {
  content: "";
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: -50px;
  left: -50px;
  width: 197px;
  height: 496px;
  background: url("images/bottom-left.png") no-repeat center center;
}
html.reveal-print .reveal .pdf-page .slide-background .slide-background-content {
  top: 0;
  left: 0;
}
html.reveal-print .reveal .pdf-page::before {
  content: "";
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: -100px;
  left: -200px;
  width: 722px;
  height: 181px;
  background: url("images/top-left.png") no-repeat center center;
  z-index: 1;
}
html.reveal-print .reveal .pdf-page::after {
  content: "";
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: -20px;
  right: -20px;
  width: 128px;
  height: 182px;
  background: url("images/top-right.png") no-repeat center center;
}
html.reveal-print .reveal .pdf-page.has-background::before, html.reveal-print .reveal .pdf-page.has-background::after {
  display: none;
}
html.reveal-print .reveal .pdf-page.has-background .slide-background::before, html.reveal-print .reveal .pdf-page.has-background .slide-background::after {
  display: none;
}
html.reveal-print .reveal .pdf-page .r-fit-text {
  margin: 20px -100px !important;
  transform: scale(0.9);
}
html.reveal-print .reveal .pdf-page.has-chart {
  height: 831px !important;
}
html.reveal-print .reveal .pdf-page.has-chart .present {
  padding-top: 70px !important;
}

.last-slide-logo img {
  max-width: 200px;
}